.dashboard {
    height: 100vh;
    overflow: hidden;

    .roundbutton {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
    }

    .main {
        background-color: $lux50;
        position: absolute;
        top: 8rem;
        height: calc(100% - 8rem);
        width: 100%;
        overflow: auto;

        &__nocards {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .message {
                font-size: 3rem;
            }
        }

        &__orderer-container {
            margin-top: 1rem;
            position: absolute;
            right: 3rem;
            z-index: 2;

            @media (max-width: 760px) {
                margin-top: 1rem;
                right: 2rem;
            }
        }

        &__container-cards {
            background-color: $lux50;
            padding: 5rem 2rem 2rem 2rem;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-items: center;

            @media (max-width: 1600px) {
                grid-template-columns: repeat(4, 1fr);
            }

            @media (max-width: 760px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}
