.dashboard {
    height: 100vh;
    overflow: hidden;

    .roundbutton {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
    }

    .main {
        background-color: $lux50;
        position: absolute;
        top: 8rem;
        height: calc(100% - 8rem);
        width: 100%;
        overflow: auto;

        &__nocards {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .message {
                font-size: 3rem;
            }
        }

        &__container-cards {
            background-color: $lux50;
            padding: 2rem;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }
}
